<div class="header">
    <h1 class="text-center">Simple Articles</h1>
    <ul class="list-inline text-center">
        <li><%= link_to 'New Article', new_article_path %></li>
    </ul>
    <hr>
</div>
<% @articles.each do |article| %>
  <div class="section">
      <%= link_to article do %>
        <img src="<%= article.cover_url %>" alt="" width="100%">
      <% end %>
      <%= link_to article do %>
        <h1 class="text-left"><%= article.title %></h1>
      <% end %>
      <p class="content"><%= article.content.first(235) %></p>
      <div class="row read-more">
        <div class="col-md-6">
          <%= link_to 'Read More', article %>
        </div>
        <div class="col-md-6">
          <div class="text-right">
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
  </div>
<% end %>

<p id="notice"><%= notice %></p>