<div class="cover-img">
    <img src="<%= @article.cover_url %>" alt="" width="100%">
</div>
<p id="notice"><%= notice %></p>
<div class="article-container">
    <div class="article-panel">
        <div class="article-header">
            <h1 class="text-center">
                <%= @article.title %>
            </h1>
        </div>
        <div class="article-body">
        	<%= @article.content.html_safe %>
        </div>
    </div>
    <div class="comments-panel">
    	<div class="block">
	    	<div class="comment-box">
		    	<%= form_for [@article, @comment] do |f| %>
				  <% if @comment.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
				      <ul>
				      <% @comment.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
                      </ul>
				      <% end %>
				    </div>
				  <% end %>
				  <div class="field">
				    <%= f.label :Response %><br>
				    <%= f.text_area :body, rows: '3' %>
				  </div>
				  <div class="actions">
				    <%= f.submit "Comment" %>
				  </div>
				<% end %>
	    	</div>
    	</div>
		<div class="block">
	        <h3 class="comment-label">
	        	<%= "#{@article.comments.count} Comments" %>
	    	</h3>
		</div>
		<% @article.comments.each do |comment| %>
        <div class="block">
            <div class="media">
                <div class="media-left">
                    <%= link_to comment.user do %>
                        <img src="<%= comment.user.avatar_url %>" alt="" class="img-circle" width="60px">
                    <% end %>
                </div>
                <div class="media-body">
                    <ul class="list-inline text-right">
                        <li class="user-comment">
                            <h4 class="media-heading text-left">
                                <%= link_to comment.user.name, comment.user %>
                            </h4>
                        </li>
                        <% if user_signed_in? %>
                            <% if current_user.id == comment.user.id %>
                                <li><%= link_to 'Show', [@article, comment] %></li> |
                                <li><%= link_to 'Edit', [:edit, @article, comment] %></li> |
                                <li><%= link_to 'Destroy', [@article, comment], method: :delete, data: { confirm: 'Are you sure?' } %></li>
                            <% end %>
                        <% end %>
                    </ul>
                    <p class="comment-datetime">
                        <%= comment.created_at %>
                    </p>
                    <p class="comment-body">
                        <%= comment.body %>
                    </p>
                </div>
            </div>
            
        </div>
        <% end %>
    </div>
</div>

<% if user_signed_in? %>
    <% if current_user.id == @article.user.id %>
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Back', articles_path %>
    <% end %>
<% end %>