<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Avatar url:</strong>
  <%= @user.avatar_url %>
</p>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	<% end %>
<% end %>
